@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------------------------------------Colours */

.ui-menu-color-home {

}

/*------------------------------------------------------General Rules */

.uppercase {
    text-transform: uppercase;
}

h2 {
    margin: 20px 0;
    font-family: "Oswald", sans-serif;
    color: #555555;
}

h3 {
    padding: 20px 0;
}

hr {
    border-top: 1px solid;
    width: 90%;
    margin: 10px 0;
    color: #555555;
    position: relative;  
    display: block;  
}

.content-container {
    text-align: center;
    background-color: rgba(217, 217, 217, 0.5);
}

.home-content {
    text-align: left;
    padding: 5px 0;
}

.content-heading {
    padding: 15px 0;
}

i {
    float: right;
}

/*------------------------------------------------------Header */

.heading {
    font-family: "Oswald", sans-serif;
    color: #555555;
    margin-bottom: 0;
}

li, a {
    width: auto;
    color: #555555;
}

.navbar-light {
    background-color: rgba(64, 179, 186, 1);
    padding-top: 8px;
}

.menu-container {
    text-align: right;
    width: 100%;
    padding-right: 1%;
}

.menu-item {

}

/*------------------------------------------------------Background */

.bg-image {
    background: url(../images/mdbg.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*------------------------------------------------------Hero Image */

.hero-image {
    width: 100%;
}

.hero-image-container {
    padding-right: 0;
}

/*------------------------------------------------------Reasons */

.home-content-image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
    margin: 25px 0;
}

.reasons-container {
    padding-right: 0;
}

.reasons-content hr {
    width: 100%;
}



/*------------------------------------------------------Things to Consider */

.things-container {
    padding: 0;
}

.consider-content hr {
    width: 100%;
}

/*------------------------------------------------------Footer */

.footer {

    height: 150px;
    background-color: rgba(64, 179, 186, 0.6);
    padding-right: 0;
}

.footer-container {
    padding-right: 0;
}

/*------------------------------------------------------Socials */

.socials {
    text-align: center;
}

.socials li {
    display: inline-block;
}

.socials i {
    color: #555555;
    font-size: 175%;
    padding: 5%;
    float: none;
}

/*------------------------------------------------------Media Queries */

@media screen and (min-width: 1441px) {
    h2, h3 {
        font-size: 400%;
    }
}

@media screen and (min-width: 1441px) {
    p, li {
        font-size: 200%;
    }
}
