@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* General Rules */

.uppercase {
    text-transform: uppercase;
}

h2 {
    margin: 20px 0;
    font-family: "Oswald", sans-serif;
    color: #555555;
    font-size: 200%;
}

h3 {
    padding: 20px 0;
}

h5 {
    font-family: "Oswald", sans-serif;
    color: #555555;
    margin: 0;
}

hr {
    border-top: 1px solid;
    margin: 10px 0;
    color: #555555;
    position: relative;  
    display: block;  
}

.content-container {
    text-align: center;
    background-color: rgba(217, 217, 217, 0.8);
    margin: 15px 0;
}

.home-content {
    text-align: left;
    padding: 5px 0;
}

.home-content-container {
    padding: 0;
}

.content-heading {
    padding: 15px 0;
}

i {
    float: right;
}

.fa-solid {
    line-height: inherit;
    padding: 0 5px;
}

.header:hover {
    color: #8FFF00;
    text-decoration: none;
}

a:hover i {
    color: #8FFF00;
    text-decoration: none;
}

li, a:hover {
    color: #8FFF00;
    text-decoration: none;
}

.fa-solid {
    padding: 0;
}

#boardroom {
    display: contents;
}




/*Header */

.heading {
    font-family: "Oswald", sans-serif;
    color: #555555;
    margin-bottom: 0;
}

li, a {
    width: auto;
    color: #555555;
}

.navbar-light {
    background-color: rgba(64, 179, 186, 1);
    padding-top: 8px;
    margin: 0;
}

.menu-container {
    text-align: right;
    width: 100%;
    padding-right: 1%;
}

.hero-image-container {
    position: relative;
  }

.overlay-text {
    position: absolute;
    bottom: 40;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem;
  }

.menu-item {
    padding-right: 5px;
}






/* Background */

.bg-image {
    background: url(../images/mdbg.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}






/* Hero Image */

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.hero-image-container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.overlay-text {
    position: absolute;
    right: 30%;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    z-index: 1;
    border-radius: 15px;
  }






/* Reasons */

.home-content-image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
    margin: 25px 0;
}

.reasons-container {
    padding: 0;
    margin: 0;
}

.reasons-content hr {
    width: 100%;
}






/* Things to Consider */

.things-container {
    padding: 0;
}

.consider-content hr {
    width: 100%;
}

.consider {
    padding: 0 10px;
}




/* Guide */

.guide-content-image {
    max-width: 100%;
    margin: 5px 0 0 0;
    background-size: cover;
    background-position: center;
    height: 250px;
    object-fit: cover;
}

.guide-content  {
    text-align: center;
    padding: 5px 0;
}






/* Contact Form */

.contact-us-form {
    padding: 0;

}

.text-input {
    width: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #555555
}

form, label {
    text-align: left;
    font-family: "Oswald", sans-serif;
    padding: 15px 0;
}

label {
    font-size: large;
}

#question {
    width: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

textarea:hover, .text-input:hover {
    border-color: #fff;
}

.go-button {
    display: block;
    background-color: #e40c0c;
    border-radius: 5px;
    font-size: 100%;
    color: #fff;
    size: 250%;
}

.go-button:hover {
    background-color: #fff;
    color: #e40c0c;
}

.go-button i {
    margin-left: 10px;
}

.form-content {
    margin: 15px 0;
    padding: 0;
}

.radio {
    margin: 0 5px;
}

.form-content-image {
    max-width: 100%;
    margin: 5px 0 0 0;
    background-size: cover;
    background-position: center;
    height: 150px;
    object-fit: cover;
}





/* Footer */

.footer {

    height: 150px;
    background-color: rgba(64, 179, 186, 0.6);
    padding: 0;
    margin: 0;
}

.footer-container {
    padding: 0;
}






/* Socials */

.socials {
    text-align: center;
}

.socials ul {
    padding-left: 0;
}

.socials li {
    display: inline-block;
}

.socials i {
    color: #555555;
    font-size: 175%;
    padding: 5%;
    float: none;
}






/* Media Queries */

@media screen and (max-width: 334px) {
    h1 {
        font-size: 200%;
    }
}

@media screen and (min-width: 1441px) {
    h2, h3 {
        font-size: 400%;
    }
}

@media screen and (min-width: 1441px) {
    p, li {
        font-size: 200%;
    }
}

@media screen and (max-width: 580px) {
    .header {
        text-align: center;
    }
}

@media screen and (min-width: 1980px) {
    h1 {
        font-size: 500%;
    }
}

@media screen and (min-width: 1025px) {
    .overlay-text {
        font-size: 300%;
    }
}

@media screen and (min-width: 1441px) {
    .overlay-text {
        font-size: 400%;
    }
}

@media screen and (min-width: 1900px) {
    .overlay-text {
        font-size: 600%;
    }
}

@media screen and (max-width: 760px) {
    .overlay-text {
        font-size: 100%;
    }
}

@media screen and (max-width: 425px) {
    .overlay-text {
        font-size: 75%;
    }
}

@media screen and (max-width: 425px) {
    #nav .fa-solid {
        display: none;
    }
}
